.App-header {
  color: #007cc3;
  background-color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #007cc3;
  height: 60px;
}

.App-link {
  color: #61dafb;
}

#HeaderText {
  color: #007cc3;
  font-size: 18px;
  font-weight: 700;
}

.TableWrapper {
  overflow-y: auto;
  height: 50vh;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #007cc3;
  color: white;
}

th,
td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}

#TableBody {
  background-color: white;
  color: black;
}

tr:hover {
  background-color: #f1f1f1;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #007cc3;
  background-color: white;
  padding: 4px 0px;
  border-top: 1px solid #007cc3;
}
